<div class="wrapper wrapper-3">
  <h2 class="py-5">Board of Directors</h2>
</div>
<div class="container">
  <div class="row text-center">
    <div class="col-12 col-md-5 cream m-2 rounded p-3 mx-auto ml-md-auto">
      <h6>Professor M'hamed HARIF</h6>
      <p>CASABLANCA Cheikh Khalifa Hospital
      <br/><small>Hospital Director</small></p>
      <h6>Doctor Catherine PATTE</h6>
      <p>VILLEJUIF Gustave Roussy
      <br/><small>Pediatric ward</small></p>
      <h6>Professor Guy LEVERGER</h6>
      <p>PARIS Armand Trousseau Hospital
      <br/><small>Head of the Oncology-Hematology Division for Paris Hospitals</small></p>
      <h6>Professor Pierre BEY</h6>
      <p>PARIS Institut Curie</p>
      <h6>Doctor Laïla HESSISSEN</h6>
      <p>RABAT Children's Hospital of Rabat
      <br/><small>Pediatric Hemato-Oncology ward</small></p>
      <h6>Doctor Jean MICHON</h6>
      <p>PARIS Institut Curie
      <br/><small>Head of the Pediatric Oncology ward</small></p>
      <h6>Doctor Carole COZE</h6>
      <p>MARSEILLE Hospital
      <br/><small>Pediatric Onco-Hematology ward</small></p>
      <h6>Doctor Rachid, BEKKALI</h6>
      <p>RABAT, Lalla Salma Foundation</p>
      <h6>Doctor Antoine CROUAN</h6>
      <p>VILLEJUIF Gustave Roussy
      <br/><small>School of Cancer Sciences Director</small></p>
      <h6>Mr Louis OMER-DECUGIS</h6>
      <p>PARIS GFAOP
      <br/><small>Supporting Comitee</small></p>
      <h6>Mr Pierre ROGER-MACHART</h6>
      <p>PARIS GFAOP
      <br/><small>Supporting Comitee</small></p>
      <h6>Ms Brenda MALLON</h6>
      <p>VILLEJUIF Gustave Roussy
      <br/><small>Data Manager</small></p>
      <h6>Marie-Solange DOUCOT</h6>
      <p><small>Nurse</small></p>
    </div>
    <div class="col-12 col-md-5 cream m-2 rounded p-3 mx-auto mr-md-auto">
      <h6>Doctor Line COUITCHERE</h6>
      <p>ABIDJAN Treichville Hospital 
      <br/><small>Pediatric ward</small></p>
      <h6>Professor Anissa TRABZI</h6> 
      <p>ALGER Pierre et Marie Curie Center 
      <br/><small>Pediatric Hematology ward</small></p>
      <h6>Doctor Mbola RAKOTOMAHEFA</h6> 
      <p>ANTANANARIVO Tsaralanana Mother and Child Hospital
      <br/><small>Pediatric Oncology ward</small></p>
      <h6>Professor Boubacar TOGO</h6> 
      <p>BAMAKO Gabriel Touré Hospital
      <br/><small>Pediatric ward</small></p>
      <h6>Professor Abdellah MADANI </h6>
      <p>CASABLANCA Ibn Rochd Hospital 
      <br/><small>Pediatric Oncology Unit </small></p>
      <h6>Professor Claude MOREIRA</h6> 
      <p>DAKAR Aristide Le Dantec Hospital 
      <br/><small>Pediatric ward</small></p>
      <h6>Professor Adama GBADOE</h6> 
      <p>LOME Sylvanus Olympio Hospital
      <br/><small>Infectiology and Onco-Pediatric Unit</small></p>
      <h6 class="pb-2">Ms Marie-Solange DOUCOT, Nurse, Paris</h6>
      <h6>Doctor Robert LUKAMBA</h6> 
      <p>LUBUMBASHI University Clinic
      <br/><small>Pediatric ward</small></p>
      <h6>Doctor Ekhtelbenina ZEIN</h6> 
      <p>NOUAKCHOTT National Hospital Center
      <br/><small>Pediatric Hemato-Oncology Unit</small></p>
      <h6>Professor Olga LOMPO GOUMBRI</h6> 
      <p>OUAGADOUGOU Yalgado Ouédraogo Hospital
      <br/><small>Pathological anatomy</small></p>
      <h6>Professor Mohammed KHATTAB</h6>
      <p>RABAT Rabat Children's Hospital
      <br/><small>Hematology and Pediatric Oncology ward</small></p>
      <h6>Professor Sihem BARSAOUI</h6>
      <p>TUNIS Tunis Children's Hospital
      <br/><small>Pediatric Oncology Unit</small></p>
      <h6>Doctor Angèle PONDY</h6>
      <p>YAOUNDE Chantal Biya Foundation
      <br/><small>Hemato-Oncology Service</small></p>
      <h6>Doctor Sarra Benmiloud</h6>
      <p>MAROC Hassan II Hospital
      <br/><small>Pediatric Oncology Service</small></p>
    </div>
  </div>
</div>