<div class="container">
  <h2 class="text-center py-3">Books</h2>
  <div class="row py-2">
      <h3 class="mx-auto">Revenues</h3>
      <%= image_tag "compte1.jpg", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"Revenues" %>
  </div>
  <div class="row py-2">
      <h3 class="mx-auto">Expenditures</h3>
      <%= image_tag "compte2.jpg", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"Expenditures" %>
  </div>
</div>
