<div class="container">
  <div class="row py-2">
      <%= image_tag "comptes.png", class:"mx-auto borderless rounded img-thumbnail", alt:"Books 2015 2016" %>
  </div>
  
  <div class="row py-2">
      <h3 class="col-12 mx-auto">Revenues</h3>
      <%= image_tag "ressources_2016.png", class:"mx-auto borderless rounded img-thumbnail", alt:"Revenues" %>
  </div>
  <div class="row py-2">
      <h3 class="col-12 mx-auto">Expenditures</h3>
      <%= image_tag "depenses_2016.png", class:"mx-auto borderless rounded img-thumbnail", alt:"Expenditures" %>
  </div>  
</div>
