<div class="container py-3">
  <h2 class="text-center py-1">Medical and Paramedical Comitees</h2>
  <div class="row">
    <ul>
      <li><b>Tumor Comitee in France:</b> Dr Catherine Patte, Dr Odile Oberlin, Dr Françoise Aubier, Pr Pierre Bey and Pr Guy Leverger</li>
      <li><b>Data Management Comitee :</b> Brenda Mallon and Marie Anne Raquin</li>
      <li><b>Pain and Palliative Care Comitee :</b> Dr Christine Edan</li>
      <li><b>Nurse Comitee :</b> Chantal Thinlot, Marie-Solange Douçot and Zahia Hamoud</li>
      <li><b>Anatomical Pathology Comitee :</b> Dr Elisabeth Auberger</li>
      <li><b>Drug Comitee :</b> Marinette Courbard</li>
    </ul>
  </div>
</div>