<div class="wrapper wrapper-5">
  <h1 class="pt-5">DRUG AND SUPPLY DELIVERY</h1>
</div>
<div class="container py-4">
  <div class="row text-center py-1">
    More than 1,000 children are treated annually in pilot units. GFAOP donates required anti-cancer drugs to the Sub-Saharan Units. This is the heaviest financial item for the GFAOP since it represents about 150 000 euros per year. Yet it is still essential for some countries.
  </div>
  <div class="row text-center py-1">
    <div class="col-sm-6">
      <%= image_tag "actionmedicament1.png", class:"borderless rounded img-thumbnail", width: 340, alt:"transport des médicaments" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "actionmedicament2.png", class:"borderless rounded img-thumbnail", width: 260, alt:"déballage des cartons de médicaments" %>
    </div>
  </div>
</div>