<div class="wrapper wrapper-6">
  <h2 class="py-5">SUPPORTING COMITEE</h2>
</div>
<div class="container py-3">
  <div class="row">
    <p class="text-center mx-auto">It assists the board, participates in the fund raising and manages the logistics of the different actions of the group.</p>
    <ul>
      <li><b>Louis Omer-Decugis :</b> Chairman of the Committee <br class="hidden-md-up" /><b>Lod@siim.net</b></li>
      <li><b>Pierre Roger-Machart :</b> Treasurer <br class="hidden-md-up" /><b>Pierre.roger-machart@gfaop.org</b></li>
      <li><b>Guy Jaquet :</b> Assistant Treasurer, Support Organizations, Associations de soutien <br class="hidden-md-up" /><b>Jacquet17@free.fr</b></li>
      <li><b>Corinne Chalvon Demersay :</b> Public relations, communication and partnerships <br class="hidden-md-up" /><b>Corinne.chalvon-demersay@gfaop.org</b></li>
      <li><b>Roger Ernoul :</b> Data Processing, Accounting, Controlling <br class="hidden-md-up" /><b>Roger.ernoul@wanadoo.fr</b></li>
      <li><b>Robert Hatuel :</b> IT and Anatomical pathology progress planning <br class="hidden-md-up" /><b>Robert.hatuel@icloud.com</b></li>
      <li><b>Marinette Courbart :</b> Pharmacist <br class="hidden-md-up" /><b>Marinette.courbard@gmail.com</b></li>
      <li><b>Bernard Gaume :</b> Medical Supply <br class="hidden-md-up" /><b>bcgaume@club-internet.fr</b></li>
      <li><b>Chantal Thinlot :</b> Nurse Comitee <br class="hidden-md-up" /><b>Chantal-thinlot@orange.fr</b></li>
      <li><b>Bénédicte de Charrette :</b> Training management <br class="hidden-md-up" /><b>Benedicte.decharette@gfaop.org</b></li>
      <li><b>Catherine Patte :</b> Medical Advisor <br class="hidden-md-up" /><b>catherine.patte@gustaveroussy.fr</b></li>
      <li><b>Anne Céline Sibboni :</b> Twinning and partnerships <br class="hidden-md-up" /><b>ac.sibboni@wanadoo.fr</b></li>
      <li><b>Gilles de Tovar :</b> Partnerships <br class="hidden-md-up" /><b>helegil@noos.fr</b></li>
      <li><b>Nicolas Vautier :</b> Partnerships <br class="hidden-md-up" /><b>vautiern@gmail.com</b></li>
      <li><b>Chris Monga :</b> Partnerships <br class="hidden-md-up" /><b>gabriellacontreleretinoblastom@gmail.com</b></li>
      <li><b>Armelle Malvoisin :</b> Gfaop Administration <br class="hidden-md-up" /><b>GFAOP@gustaveroussy.fr</b></li>
    </ul>
  </div>
</div>



