@charset "utf-8";

body {
  font-family: 'Montserrat';
  color: #433323;
  min-height: 75rem;
  padding-top: 3.5rem;
}

* {
  font-family: 'Montserrat';
  color: #433323;
}

.btn {
  color: white;
  background-color: transparent;
  border-color: #f96634;
  border-radius: 50px;
  border-width: 1px;
  padding: 20px;
}

.btncrowd {
  color: white;
  background-color: #f96634;
  border-color: #f96634;
}

.btncrowd:hover {
  background-color: #f96634;
  border-color: #f96634;
}

.btncrowd:focus {
  background-color: #f96634;
  border-color: #f96634;
}

.wrapper {
  background-image: url(/images/fond_accueil.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper-2 {
  background-image: url(/images/photo_ca.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper-4 {
  background-image: url(/images/backafrique7.svg);
  background-color: #DEF3F2;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-align: center;
  background-attachment: fixed;
}

.wrapper-5 {
  background-image: url(/images/backaction.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-align: center;
  background-attachment: fixed;
}

.wrapper-7 {
  background-image: url(/images/backfille.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 20px;
  text-align: center;
  color: white;
  background-attachment: fixed;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  opacity: 0.8;
}

.borderless {
  border: none;
}

.vertical-spacer {
  height: 8em;
}

.footer {
  background-color: #190d07;
  color: #aaaaaa;
}

.footer2 {
  background-color: #2b160d;
}

.round {
  border-radius: 10px;
}

.separator {
  width: 20%;
  margin: 20px auto;
}

.cream {
  background-color: #FAF9F5;
}

.white {
  color: white !important;
}

.grey-back {
  background-color: #E1DAD5;
  opacity: 1;
}

.orange-back {
  background-color: #f96634;
}
