@charset "utf-8";

body {
  font-family: 'Montserrat';
  color: #433323;
  min-height: 75rem;
  padding-top: 5.5rem;
}

* {
  font-family: 'Montserrat';
  color: #433323;
}

.btn {
  color: white;
  background-color: transparent;
  border-color: #f96634;
  border-radius: 50px;
  border-width: 1px;
  padding: 20px;
}

.btncrowd {
  color: white;
  background-color: #f96634;
  border-color: #f96634;
}

.btncrowd:hover {
  background-color: #f96634;
  border-color: #f96634;
}

.btncrowd:focus {
  background-color: #f96634;
  border-color: #f96634;
}

.wrapper {
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper-1 {
  background-image: url(../images/fond_accueil.png);
  background-position: center;
  color: white;
  min-height: 420px;
}

.wrapper-2 {
  background-image: url(../images/bandeau_association.jpg);
  color: white;
  height: 27em;
}

.wrapper-3 {
  background-image: url(../images/photo_ca.jpg);
  color: white;
  height: 27em;
  
}

.wrapper-4 {
  background-image: url(../images/carte_pays_reduced.png);
  background-color: #DEF3F2;
  background-position: center;
  height: 120em;
}

.wrapper-5 {
  background-image: url(../images/backaction.jpg);
  height: 30em;
  background-position: center;
}

.wrapper-6 {
  background-image: url(../images/bandeau_comite_de_soutien.png);
  color: white;
  height: 27em;
}

.wrapper-7 {
  background-image: url(../images/bandeau_projets.png);
  color: white;
  height: 27em;
}

.borderless {
  border: none;
}

.footer {
  background-color: #190d07;
  color: #aaaaaa;
}

.footer2 {
  background-color: #2b160d;
}

.rounded {
  border-radius: 5px;
}

.separator {
  width: 20%;
  margin: 20px auto;
}

.cream {
  background-color: #FAF9F5;
}

.white {
  color: white !important;
}

.text-orange {
  color: #f96634 !important;
}

.grey {
  background-color: #E1DAD5;
}

.orange {
  background-color: #f96634;
}
