<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-light" id="nav">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/en/index.html" class="navbar-brand"><img src="gfaop.png" width="300px" alt="logo gfaop" ></a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a href="en/index.html" class="nav-link white">Home</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="assocNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Organization
        </a>
        <div class="dropdown-menu" aria-labelledby="assocNavbarDropdownMenuLink">
          <a href="organization.html" class="dropdown-item">Presentation</a>
          <a href="books.html" class="dropdown-item">Books</a>
          <a class="dropdown-item" href="../ressources/Statuts_de_l'association.pdf" target="_blank">Statuses</a>
          <a class="dropdown-item" href="../ressources/Rapport_d'activite_2015.pdf" target="_blank">Status Report</a>
          <a class="dropdown-item" href="../ressources/La_Charte_de_déontologie.doc" target="_blank">Code Of Ethics</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Team
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a href="board-of-directors.html" class="dropdown-item">Board of Directors</a>
          <a href="board.html" class="dropdown-item">Board</a>
          <a href="supporting-comitee.html" class="dropdown-item">Supporting Comitee</a>
          <a href="comitees.html" class="dropdown-item">Medical and Paramedical Comitees</a>
        </div>
      </li>    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle white" id="actionsNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="actionsNavbarDropdownMenuLink">
          <a href="training.html" class="dropdown-item">Training</a>
          <a href="anatomopathology.html" class="dropdown-item">Anatomopathology</a>
          <a href="clinical-reasearch.html" class="dropdown-item">Clinical Reasearch</a>
          <a href="drug-and-supply-delivery.html" class="dropdown-item">Drug and Supply Delivery</a>
          <a href="support.html" class="dropdown-item">Support</a>
        </div>
      </li>   
      <li class="nav-item"><a href="projects.html" class="nav-link white">Projects</a></li>
      <li class="nav-item"><a href="pilot-units.html" class="nav-link white">Countries</a></li>
      <li class="nav-item"><a href="university-education.html" class="nav-link white">Education</a></li>
      <li class="nav-item"><a class="nav-link white" href="http://www.cloud-gfaop.org" target="_blank">Members'Area</a></li>
      <li class="nav-item orange rounded"><a class="nav-link white" href="https://www.helloasso.com/associations/gfaop/formulaires/1/en" target="_blank">Donate</a></li>
      <li class="nav-item ml-2"><a href="/"><img src="french_flag.svg" width="30px" alt="French flag" style="padding-top=10px;" ></a></li>
    </ul>
  </div>
</nav>