<div class="footer2">
  <div class="container py-2">
    <div class="row text-center">
      <div class="col-12 py-1">
        <a href="../media.php" class="white">Media</a>
          I
        <a href="partners.php" class="white">Partners</a>
          I
        <a href="../publication.php" class="white">Papers</a>
          I
        <a href="http://www.cloud-gfaop.org/index.php/s/0Nph4zOiM5D0Na3" class="white">Newsletters</a><!-- TODO -->
      </div>
      <div class="col-12 white py-1"><h4>contact@gfaop.org | +33(0)1 42 11 65 60</h4></div>
      <div class="col-12 white py-1">GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</div>
    </div>
    <div class="row text-center py-1">
      <img src="../images/Logo-gustave-roussy.jpg" class="mx-auto rounded" height="75px" alt="Cancer Campus Gustave Roussy" ><!-- TODO ? width:auto; -->      
    </div>
  </div>
</div>  
<div class="footer">
  <div class="container py-2">
    <div class="row text-center">
      <div class="col-12">
        <h5 class="white" style="font-family: Lato; font-style: italic;">GFAOP is an association recognized of general interest according to the law of 1901. Donations are eligible for a tax reduction (66% for individuals, 60% for businesses). A tax receipt will be sent to you by mail.</h5>
      </div>
      <div class="col-12"><a href="mentions.php" class="white">Legal Notice</a></div>
    </div>
  </div>
</div>