  <link href='http://fonts.googleapis.com/css?family=Montserrat|Lato:300,400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="icon" href="../images/logonav.png" />
  <link href='../stylesheets/site.css' rel='stylesheet' type='text/css'>
  <link href='../stylesheets/font_awesome.css' rel='stylesheet' type='text/css'>
  <link href='../stylesheets/bootstrap_social.css' rel='stylesheet' type='text/css'>
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse navbar-light" id="nav">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="index.php" class="navbar-brand"><img src="../images/gfaop.png" width="300" alt="logo gfaop" ></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="index.php" class="nav-link white">Home</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white" id="assocNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Organization
          </a>
          <div class="dropdown-menu" aria-labelledby="assocNavbarDropdownMenuLink">
            <a class="dropdown-item" href="./organization.php">Presentation</a>
            <a class="dropdown-item" href="../ressources/Comptes.pdf" target="_blank">Books sum-up</a>
            <a class="dropdown-item" href="../ressources/Comptes_annuels_2017.pdf" target="_blank">2017 books</a>
            <a class="dropdown-item" href="../ressources/Comptes_annuels_2016.pdf" target="_blank">2016 books</a>
            <a class="dropdown-item" href="../ressources/Statuts_de_l_association.pdf" target="_blank">Statuses</a>
            <a class="dropdown-item" href="../ressources/Rapport_d_activite_2017.pdf" target="_blank">2017 Status Report</a>
            <a class="dropdown-item" href="../ressources/Rapport_d_activite_2016.pdf" target="_blank">2016 Status Report</a>
            <a class="dropdown-item" href="../ressources/La_Charte_de_deontologie.pdf" target="_blank">Code Of Ethics</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Team
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="board-of-directors.php">Board of Directors</a>
            <a class="dropdown-item" href="board.php">Board</a>
            <a class="dropdown-item" href="supporting-comitee.php">Supporting Comitee</a>
            <a class="dropdown-item" href="comitees.php">Medical and Paramedical Comitees</a>
          </div>
        </li>    
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white" id="actionsNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions
          </a>
          <div class="dropdown-menu" aria-labelledby="actionsNavbarDropdownMenuLink">
            <a class="dropdown-item" href="training.php">Training</a>
            <a class="dropdown-item" href="clinical-reasearch.php">Clinical Reasearch</a>
            <a class="dropdown-item" href="drug-and-supply-delivery.php">Drug and Supply Delivery</a>
            <a class="dropdown-item" href="support.php">Support</a>
          </div>
        </li>   
        <li class="nav-item"><a href="projects.php" class="nav-link white">Projects</a></li>
        <li class="nav-item"><a href="countries.php" class="nav-link white">Countries</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle white" id="formationNavbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            University Education
          </a>
          <div class="dropdown-menu" aria-labelledby="formationNavbarDropdownMenuLink">
            <a class="dropdown-item" href="http://e-gfaop.org/" target="_blank">DUCP diploma</a>
            <a class="dropdown-item" href="../ressources/Institut_Jean_Lemerle.pdf" target="_blank">Jean Lemerle Institute</a>
            <a class="dropdown-item" href="university-education.php">Education</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link white" href="http://www.cloud-gfaop.org" target="_blank">Members'Area</a></li>
        <li class="nav-item orange rounded"><a class="nav-link white" href="https://www.helloasso.com/associations/gfaop/formulaires/1/en" target="_blank">Donate</a></li>
        <li class="nav-item ml-2"><a href="./../index.php"><img src="../images/french_flag.svg" width="30" alt="French flag" style="margin-top: 30%;" ></a></li>
      </ul>
    </div>
  </nav>