<div class="footer">
  <div class="container">

    <div class="row text-center">
      <h5 id="white" style="font-family: Lato; font-style: italic; padding: 1px;">Le GFAOP est une association loi de 1901 reconnue d’intérêt général. Vous pouvez nous aider en faisant un don, en devenant bénévole, en organisant des manifestations au profit du GFAOP, par du mécénat de compétence. Les dons ouvrent droit à une réduction d’impôts ( 66% pour un particulier, 60% pour une entreprise). Un reçu fiscal vous sera envoyé par courrier.
      </h5>
      <%= link_to "Mentions Légales", 'mentions.html', id:"white" %>
    </div>

  </div>
</div>



