  <div class="footer2">
    <div class="container py-2">
      <div class="row text-center">
        <div class="col-12 py-1">
          <a href="./media.php" class="white">Médias</a>
            I
          <a href="./partenaire.php" class="white">Partenaires</a>
            I
          <a href="./publication.php" class="white">Publications</a>
            I
          <a href="http://www.cloud-gfaop.org/index.php/s/0Nph4zOiM5D0Na3" class="white">Newsletters</a>
        </div>  
        <div class="col-12 white py-1"><h4>contact@gfaop.org | +33 (0)9 72 10 25 44</h4></div>
        <div class="col-12 white py-1">GFAOP - Gustave Roussy - 114, rue Edouard Vaillant 94805 Villejuif Cedex - France</div>
      </div>
      <div class="row text-center py-1">
        <img src="images/Logo-gustave-roussy.jpg" class="ml-auto mx-5 rounded" height="90" alt="Cancer Campus Gustave Roussy" >
        <img src="images/label.jpg" class="mr-auto mx-5 rounded" height="90" alt="Cancer Campus Gustave Roussy" >
      </div>
    </div>
  </div>  
  <div class="footer">
    <div class="container py-2">
      <div class="row text-center">
        <div class="col-12">
          <h5 class="white" style="font-family: Lato; font-style: italic;">Le GFAOP est une association loi de 1901 reconnue d’intérêt général. Les dons ouvrent droit à une réduction d’impôts ( 66% pour un particulier, 60% pour une entreprise). Un reçu fiscal vous sera envoyé par courrier.</h5>
        </div>
        <div class="col-12"><a href="./mentions.php" class="white">Mentions Légales</a></div>
      </div>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85039925-1', 'auto');
  ga('send', 'pageview');
  </script>
</body>
</html>