<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>



<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>OOPS, erreur 404 !</h1>
    </div>
  </div>
</div>

<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>
<div class="vertical-spacer"></div>

