<div class="wrapper wrapper-5">
  <h1 class="pt-5">L’ANATOMOPATHOLOGIE</h1>
</div>
<div class="container">
  <div class="row text-justify py-3">
    <div class="col-12">
      La spécialité d’anatomopathologie est essentielle pour confirmer les diagnostics cliniques de cancer des patients. Des examens histologiques en laboratoire, des prélèvements effectués sur les organes malades permettent de guider le choix de protocoles de soins offrant les meilleurs taux de succès. Une anatomopathologie incertaine réduit notablement les chances de succès et fait perdre un temps précieux par une administration de médications onéreuses mais inappropriées. La thérapie du soin des cancers de l’enfant peut être assimilée à une guerre de mouvements rapides. Plus on est rapide dans l’administration du juste traitement, plus grandes seront les chances de survie des enfants.
    </div>
  </div>
  <div class="row text-center py-2">
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>La Chirurgie</h3>
        <div class="text-justify">
          L’accent est mis sur une formation spécifique aux besoins de chirurgie dans le traitement des tumeurs de l’enfant. Elle est destinée à des chirurgiens n’ayant pas une expérience spécifique au domaine de l’oncologie pédiatrique. La Chirurgie des tumeurs cancéreuses de l’enfant est un complément indispensable à maitriser pour soigner efficacement les cancers des enfants.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>L’ophtalmologie : Formation Rétinoblastome</h3>
        <div class="text-justify">
          Depuis 2011, le GFAOP, adossé à Gustave Roussy et à l’institut Curie, a décidé d’inscrire le rétinoblastome des enfants parmi les pathologies sur lesquelles elle s’investit plus particulièrement. Ce cancer représente une proportion importante des tumeurs qui frappent les enfants.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="p-3 cream rounded m-2">    
        <h3>La Radiologie et la Radiothérapie</h3>
        <div class="text-justify">
        Encore trop peu de services africains disposent d’accès à la radiothérapie, pourtant elle permet les traitements conservateurs liés à certaines tumeurs. La mise à disposition de nouveaux équipements nécessite la formation des utilisateurs.
        </div>
      </div>
    </div>
  </div>
</div>
