<% content_for :title, "L'association" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="wrapper-2">
  <h2 class="py-5">PRESENTATION DE L'ASSOCIATION</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant2.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justify">
        Dans les pays développés les cancérologues pédiatres ont construit des communautés collaboratives qui ont permis un progrès formidable dans la prise en charge des cancers chez l’enfant. Les enfants dans ces pays ont non seulement pu bénéficier de chances significatives de guérison atteignant 75 à 80% mais
        l’approche a dépassé l’exigence de guérison pour embrasser les problématiques de  qualité de vie pendant et après le traitement.
        Parallèlement, les enfants des pays en voie de développement qui constituent  75 à 80 % des enfants de la planète, en particulier en Afrique, continuent de mourir massivement par manque de moyens, manque d’offre de soins qualifiés et dysfonctionnements du système de santé.
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant.jpg", class:"borderless rounded img-thumbnail", width: 700, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justify">
          C’est dans ce contexte, et malgré toutes les contraintes attendues, que le Pr Jean Lemerle, après une belle carrière dans le développement de la cancérologie en France et dans le monde, a entrepris de créer en 2000  un groupe de travail pour développer la prise en charge du cancer de l’enfant en Afrique.
          Le Groupe Franco-Africain d’Oncologie Pédiatrique (GFAOP) hébergé à l’institut Gustave-Roussy, regroupe des médecins français et africains et a  pour objectif la mise en place d’unités dites unités pilotes (UP). Ces dernières ont les compétences et les moyens de prendre en charge le maximum d’enfants africains atteints de cancers selon des procédures diagnostiques et thérapeutiques adaptées au contexte local. C’est ainsi,  qu’un programme volontariste a été mis en place, les actions du groupe se sont orientées dans diverses directions :
        <ul>
          <li>formation de médecins et infirmiers</li>
          <li>mise en place des protocoles diagnostiques et thérapeutiques adaptés</li>
          <li>collecte et traitement de données</li>
          <li>aménagement de locaux pour la pratique d’oncologie pédiatrique</li>
          <li>achat de médicaments</li>
        </ul>
    </div>
  </div>
  <div class="row text-justify">
    Afin d’atteindre ces objectifs, un comité de soutien a été mis en place dans le but de récolter les fonds nécessaires. Initiée avec 8 UP dans six pays (Algérie, Cameroun, Madagascar, Maroc, Sénégal et Tunisie), d’autres UP ont par la suite été mises en place au Burkina Faso, Mali, Mauritanie, Côte d’Ivoire, République Démocratique du Congo, Togo. Aujourd’hui, on compte 15 UP couvrant la plus grande part de l’Afrique francophone.
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-5 col-xs-5">
      <%= image_tag "associationenfant3.jpg", class:"borderless rounded img-thumbnail", width: 600, alt:"enfant" %>
    </div>
    <div class="col-md-9 col-sm-7 col-xs-7 text-justify">
      Aujourd'hui, ce sont 5 des cancers les plus fréquents en Afrique et de meilleurs pronostiques qui sont pris en charge avec des protocoles GFAOP: 
      <br>
      - Lymphome de Burkitt <br>
      - Néphroblastome <br>
      - Leucémie Aigüe Lymphoblastique <br>
      - Rétinoblastome <br>
      - Maladie de Hodgkin <br>
      <br>      
    </div>
    <div class="col-md-12">
      Le GFAOP a démontré qu’il était possible, même dans des conditions difficiles, d’offrir aux enfants des soins adaptés lorsque l’engagement s’inscrit dans la durée. Il a démontré aussi que même en Afrique, on pouvait faire de la recherche clinique de manière prospective et multicentrique.
      Il s’agit d’un véritable message d’espoir.
      Suite à la disparition de Jean Lemerle en 2014, le GFAOP, fort de son expérience et de son savoir-faire se doit de continuer à œuvrer à sa manière pour un monde plus équitable.
      Un des défis majeurs est le développement des compétences africaines afin de pérenniser et développer les soins. La création récente de l’école africaine d’oncologie pédiatrique  pour le diagnostic et le traitement des cancers et la création du diplôme franco marocaine de cancérologie pédiatrique  ont pour objectif de répondre à ce défi.
    </div>
  </div>
</div>
