<div class="container py-3">
  <h2 class="text-center py-1">Le Comité de Soutien</h2>
  <div class="row">
    <p class="text-center mx-auto">Il assiste et aide le bureau, participe à la recherche de financements et gère la logistique des différentes actions du groupe.</p>
    <ul>
      <li><b>Louis Omer-Decugis :</b> Présidence du Comité &nbsp;I &nbsp; <b>Lod@siim.net</b></li>
      <li><b>Pierre Roger-Machart :</b> Trésorerie &nbsp;I&nbsp; <b>Pierre.roger-machart@gfaop.org</b></li>
      <li><b>Guy Jaquet :</b> Trésorier adjoint &nbsp;I&nbsp; <b>Jacquet17@free.fr</b></li>
      <li><b>Corinne Chalvon Demersay :</b> Communication et partenariats &nbsp;I&nbsp; <b>Corinne.chalvon-demersay@gfaop.org</b></li>
      <li><b>Sylvain Anstett :</b> Informatique &nbsp;I&nbsp; <b>Sylvain.anstett@gfaop.org</b></li>
      <li><b>Roger Ernoul :</b> Traitement des données, Comptabilité, Contrôle de gestion &nbsp;I&nbsp; <b>Roger.ernoul@gfaop.org</b></li>
      <li><b>Robert Hatuel :</b> Plan de progrès Informatique, Plan de progrès anapath &nbsp;I&nbsp; <b>Robert.hatuel@gfaop.org</b></li>
      <li><b>Marinette Courbart :</b> Pharmacien &nbsp;I&nbsp; <b>Marinette.courbard@gfaop.org</b></li>
      <li><b>Bernard Gaume :</b> Matériel médical et consommables &nbsp;I&nbsp; <b>bcgaume@club-internet.fr</b></li>
      <li><b>Chantal Thinlot :</b> Comité infirmier &nbsp;I&nbsp; <b>Chantal-thinlot@orange.fr</b></li>
      <li><b>Bénédicte de Charrette :</b> Gestion des formation &nbsp;I&nbsp; <b>Benedicte.decharette@gfaop.org</b></li>
      <li><b>Catherine Patte :</b> Conseiller médical &nbsp;I&nbsp; </li>
      <li><b>Anne Céline Sibboni :</b> Jumelages  et partenariats &nbsp;I&nbsp; <b>ac.sibboni@wanadoo.fr</b></li>
      <li><b>Gilles de Tovar :</b> Partenariats &nbsp;I&nbsp; <b>helegil@noos.fr</b></li>
      <li><b>Nicolas Vautier :</b> Partenariats &nbsp;I&nbsp; <b>vautiern@gmail.com</b></li>
      <li><b>Chris Monga :</b> Partenariats &nbsp;I&nbsp; <b>gabriellacontreleretinoblastom@gmail.com</b></li>
      <li><b>Armelle Malvoisin :</b> Secrétariat Gfaop &nbsp;I&nbsp; <b>GFAOP@gustaveroussy.fr</b></li>
    </ul>
  </div>
</div>



