<% content_for :title, "Le comité de soutien" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h2>Le Comité de Soutien</h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="small-vertical-spacer">
    </div>

    <p class="text-center">Il assiste et aide le bureau, participe à la recherche de financements et gère la logistique des différentes actions du groupe.</p>
    <hr class="separator">

    <ul>
      <li><b>Louis Omer-Decugis :</b> Présidence du Comité &nbsp;I &nbsp; <b>Lod@siim.net</b></li>
      <li><b>Pierre Roger-Machart :</b> Trésorerie &nbsp;I&nbsp; <b>Pierre.roger-machart@gfaop.org</b></li>
      <li><b>Guy Jaquet :</b> Trésorier adjoint &nbsp;I&nbsp; <b>Jacquet17@free.fr</b></li>
      <li><b>Corinne Chalvon Demersay :</b> Communication et partenariats &nbsp;I&nbsp; <b>Corinne.chalvon-demersay@gfaop.org</b></li>
      <li><b>Sylvain Anstett :</b> Informatique &nbsp;I&nbsp; <b>Sylvain.anstett@gfaop.org</b></li>
      <li><b>Roger Ernoul :</b> Traitement des données, Comptabilité, Contrôle de gestion &nbsp;I&nbsp; <b>Roger.ernoul@gfaop.org</b></li>
      <li><b>Robert Hatuel :</b> Plan de progrès Informatique, Plan de progrès anapath &nbsp;I&nbsp; <b>Robert.hatuel@gfaop.org</b></li>
      <li><b>Marinette Courbart :</b> Pharmacien &nbsp;I&nbsp; <b>Marinette.courbard@gfaop.org</b></li>
      <li><b>Michel Hugon :</b> Matériel médical et consommables &nbsp;I&nbsp; <b>Michel.hugon@gfaop.org</b></li>
      <li><b>Anne Marie Brun :</b> Manifestations extérieures &nbsp;I&nbsp; <b>Brunannemarie@gmail.com</b></li>
      <li><b>Chantal Thinlot :</b> Programmes infirmiers &nbsp;I&nbsp; <b>Chantal-thinlot@orange.fr</b></li>
      <li><b>Daniel Ter Minassian :</b> Responsable études Cliniques &nbsp;I&nbsp; <b>termind@club-internet.fr</b></li>
    </ul>

  </div>
</div>
