<div class="container py-3">
  <h2 class="text-center py-1">Le Comité de Soutien</h2>
  <div class="row">
    <p class="text-center mx-auto">Il assiste et aide le bureau, participe à la recherche de financements et gère la logistique des différentes actions du groupe.</p>
    <ul>
      <li><b>Louis Omer-Decugis :</b> Présidence du Comité <br class="hidden-md-up" /><b>Lod@siim.net</b></li>
      <li><b>Pierre Roger-Machart :</b> Trésorerie <br class="hidden-md-up" /><b>Pierre.roger-machart@gfaop.org</b></li>
      <li><b>Guy Jaquet :</b> Trésorier adjoint, Associations de soutien <br class="hidden-md-up" /><b>Jacquet17@free.fr</b></li>
      <li><b>Corinne Chalvon Demersay :</b> Relations publiques, communication et partenariats <br class="hidden-md-up" /><b>Corinne.chalvon-demersay@gfaop.org</b></li>
      <li><b>Roger Ernoul :</b> Traitement des données, Comptabilité, Contrôle de gestion <br class="hidden-md-up" /><b>Roger.ernoul@wanadoo.fr</b></li>
      <li><b>Robert Hatuel :</b> Plan de progrès Informatique, Plan de progrès anapath <br class="hidden-md-up" /><b>Robert.hatuel@icloud.com</b></li>
      <li><b>Marinette Courbart :</b> Pharmacien <br class="hidden-md-up" /><b>Marinette.courbard@gmail.com</b></li>
      <li><b>Bernard Gaume :</b> Matériel médical et consommables <br class="hidden-md-up" /><b>bcgaume@club-internet.fr</b></li>
      <li><b>Chantal Thinlot :</b> Comité infirmier <br class="hidden-md-up" /><b>Chantal-thinlot@orange.fr</b></li>
      <li><b>Bénédicte de Charrette :</b> Gestion des formations <br class="hidden-md-up" /><b>Benedicte.decharette@gfaop.org</b></li>
      <li><b>Catherine Patte :</b> Conseiller médical <br class="hidden-md-up" /><b>catherine.patte@gustaveroussy.fr</b></li>
      <li><b>Anne Céline Sibboni :</b> Jumelages et partenariats <br class="hidden-md-up" /><b>ac.sibboni@wanadoo.fr</b></li>
      <li><b>Gilles de Tovar :</b> Partenariats <br class="hidden-md-up" /><b>helegil@noos.fr</b></li>
      <li><b>Nicolas Vautier :</b> Partenariats <br class="hidden-md-up" /><b>vautiern@gmail.com</b></li>
      <li><b>Chris Monga :</b> Partenariats <br class="hidden-md-up" /><b>gabriellacontreleretinoblastom@gmail.com</b></li>
      <li><b>Armelle Malvoisin :</b> Secrétariat Gfaop <br class="hidden-md-up" /><b>GFAOP@gustaveroussy.fr</b></li>
    </ul>
  </div>
</div>



