<% content_for :title, "Comptes de l'association" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<hr class="separator">

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h2>Les Comptes</h2>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <h3>Tableau des Recettes</h3>
    <%= image_tag "compte1.jpg", class:"noborder img-thumbnail", width: 1000, alt:"tableau des recettes" %>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <h3>Tableau des Dépenses</h3>
    <%= image_tag "compte2.jpg", class:"noborder img-thumbnail", width: 1000, alt:"tableau des depenses" %>
  </div>
</div>

<hr class="separator">
