<div class="container">
  <h2 class="text-center py-3">Les Comptes</h2>
  <div class="row py-2">
      <%= image_tag "comptes.png", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"Comptes 2015 2016" %>
  </div>
  
  <div class="row py-2">
      <h3 class="mx-auto">Tableau des Recettes</h3>
      <%= image_tag "ressources_2016.png", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"Recettes" %>
  </div>
  <div class="row py-2">
      <h3 class="mx-auto">Tableau des Dépenses</h3>
      <%= image_tag "depenses_2016.png", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"Dépenses" %>
  </div>  
</div>
