<div class="container">
  <h2 class="mx-auto py-3">Les Comptes</h2>
  <div class="row py-2">
      <h3 class="mx-auto">Tableau des Recettes</h3>
      <%= image_tag "compte1.jpg", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"enfant" %>
  </div>
  <div class="row py-2">
      <h3 class="mx-auto">Tableau des Dépenses</h3>
      <%= image_tag "compte2.jpg", class:"mx-auto borderless rounded img-thumbnail", width: 1000, alt:"enfant" %>
  </div>
</div>
