
<div class="container">
  <h3 class="text-center py-1">Le Conseil d'Administration</h3>
  <div class="row text-center">
    <div class="col-md-6 noborder cream p-1 round">
      <h6>Professeur M'hamed HARIF, CASABLANCA, Directeur d'hôpital- Hôpital Cheikh Khalifa Casablanca</h6>
      <h6>Docteur Catherine PATTE, VILLEJUIF Gustave Roussy, Pédiatrie</h6>
      <h6>Professeur Guy LEVERGER, PARIS Hôpital Armand Trousseau, Chef du Pôle Oncologie-Hématologie des Hôpitaux Universitaires Est Parisien</h6>
      <h6>Professeur Pierre BEY, PARIS Curie</h6>
      <h6>Docteur Laïla HESSISSEN, RABAT Hôpital d'Enfants de Rabat, Service d'Hémato-oncologie pédiatrique</h6>
      <h6>Docteur Jean MICHON, PARIS Institut Curie, Chef du Département d'O. P.</h6>
      <h6>Docteur Carole COZE, CHU Marseille, Onco-Hématologie Pédiatrique</h6>
      <h6>Docteur Rachid, BEKKALI RABAT, Fondation Lalla Salma</h6>
      <h6>Docteur Antoine CROUAN, VILLEJUIF Gustave Roussy, Directeur Ecole des Sciences du Cancer</h6>
      <div class="thumbnail noborder cream py-1">
        <div class="caption">
          <h6>Comité de Soutien, Mr Louis OMER-DECUGIS, GFAOP, Paris</h6>
          <h6>Comité de Soutien, Mr Pierre ROGER-MACHART, GFAOP, Paris</h6>
          <h6>Data Manager, Mme Brenda MALLON, VILLEJUIF Gustave Roussy</h6>
        </div>
      </div>
    </div>
    <div class="col-md-6 noborder cream p-1 round">
      <h6>UP Abidjan Docteur Line COUITCHERE ABIDJAN CHU de Treichville Servcie de Pédiatrie</h6>
      <h6>UP Alger Professeur Anissa TRABZI ALGER Centre Pierre et Marie Curie Hématologie pédiatrique</h6>
      <h6>UP Antananarivo Docteur Mbola RAKOTOMAHEFA ANTANANARIVO Groupe Hosp. Mère et Enfant Tsaralanana Service Oncologie Pédiatrique</h6>
      <h6>UP Bamako Professeur Boubacar TOGO BAMAKO Hôpital Gabriel Touré Service de Pédiatrie</h6>
      <h6>UP Casablanca Professeur Abdellah MADANI CASABLANCA CHU Ibn Rochd Unité d'oncologie pédiatrique</h6>
      <h6>UP Dakar Professeur Claude MOREIRA DAKAR Hôpital Aristide Le Dantec Service de Pédiatrie</h6>
      <h6>UP Lomé Professeur Adama GBADOE LOME CHU Sylvanus Olympio Unité Infectiologie et Onco-pédiatrie</h6>
      <h6>Mme Marie-Solange DOUCOT, Infrmière, Paris</h6>
      <h6>UP Lubumbashi Docteur Robert LUKAMBA LUBUMBASHI Cliniques Universitaires de Lubumbashi Service de Pédiatrie</h6>
      <h6>UP Nouakchott Docteur Ekhtelbenina ZEIN NOUAKCHOTT Centre Hospitalier National Unité d'hémato-oncologie pédiatrique</h6>
      <h6>UP Ouagadougou Professeur Olga LOMPO GOUMBRI OUAGADOUGOU CHU Yalgado Ouédraogo Anatomie Pathologique</h6>
      <h6>UP Rabat Professeur Mohammed KHATTAB RABAT Hôpital enfants de Rabat Chef du Service d'Hématologie et Oncologie Pédiatrique</h6>
      <h6>UP Tunis Professeur Sihem BARSAOUI TUNIS Hôpital des Enfants de Tunis Médecine infantile-Unité d'Oncologie pédiatrique</h6>
      <h6>UP Yaoundé Docteur Angèle PONDY YAOUNDE Centre Mère et Enfant - Fondation Chantal Biya Service d'Hémato-Oncologie</h6>
      <h6>UP Fès Docteur Sarra Benmiloud - CHU Hassan II</h6>
    </div>    
  </div>
</div>