
<div class="container">
  <h3 class="text-center py-3">Le Conseil d'Administration</h3>
  <div class="row text-center">
    <div class="col-md-5 noborder cream m-2 round p-3 ml-auto">
      <h6>Professeur M'hamed HARIF, CASABLANCA, Directeur d'hôpital- Hôpital Cheikh Khalifa Casablanca</h6>
      <h6>Docteur Catherine PATTE, VILLEJUIF Gustave Roussy, Pédiatrie</h6>
      <h6>Professeur Guy LEVERGER, PARIS Hôpital Armand Trousseau, Chef du Pôle Oncologie-Hématologie des Hôpitaux Universitaires Est Parisien</h6>
      <h6>Professeur Pierre BEY, PARIS Curie</h6>
      <h6>Docteur Laïla HESSISSEN, RABAT Hôpital d'Enfants de Rabat, Service d'Hémato-oncologie pédiatrique</h6>
      <h6>Docteur Jean MICHON, PARIS Institut Curie, Chef du Département d'O. P.</h6>
      <h6>Docteur Carole COZE, CHU Marseille, Onco-Hématologie Pédiatrique</h6>
      <h6>Docteur Rachid, BEKKALI RABAT, Fondation Lalla Salma</h6>
      <h6>Docteur Antoine CROUAN, VILLEJUIF Gustave Roussy, Directeur Ecole des Sciences du Cancer</h6>
      <div class="thumbnail noborder cream py-1">
        <div class="caption">
          <h6>Comité de Soutien, Mr Louis OMER-DECUGIS, GFAOP, Paris</h6>
          <h6>Comité de Soutien, Mr Pierre ROGER-MACHART, GFAOP, Paris</h6>
          <h6>Data Manager, Mme Brenda MALLON, VILLEJUIF Gustave Roussy</h6>
        </div>
      </div>
    </div>
    <div class="col-md-5 noborder cream m-2 round p-3 mr-auto">
      <h6>UP Abidjan Docteur Line COUITCHERE</h6>
      <p>ABIDJAN CHU de Treichville</p> 
      <p><small>Servcie de Pédiatrie</small></p>
      <h6>UP Alger Professeur Anissa TRABZI</h6> 
      <p>ALGER Centre Pierre et Marie Curie</p> 
      <p><small>Hématologie pédiatrique</small></p>
      <h6>UP Antananarivo Docteur Mbola RAKOTOMAHEFA</h6> 
      <p>ANTANANARIVO Groupe Hosp. Mère et Enfant Tsaralanana</p> 
      <p><small>Service Oncologie Pédiatrique</small></p>
      <h6>UP Bamako Professeur Boubacar TOGO</h6> 
      <p>BAMAKO Hôpital Gabriel Touré</p> 
      <p><small>Service de Pédiatrie</small></p>
      <h6>UP Casablanca Professeur Abdellah MADANI </h6>
      <p>CASABLANCA CHU Ibn Rochd</p> 
      <p><small>Unité d'oncologie pédiatrique</small></p>
      <h6>UP Dakar Professeur Claude MOREIRA</h6> 
      <p>DAKAR Hôpital Aristide Le Dantec</p> 
      <p><small>Service de Pédiatrie</small></p>
      <h6>UP Lomé Professeur Adama GBADOE</h6> 
      <p>LOME CHU Sylvanus Olympio</p> 
      <p><small>Unité Infectiologie et Onco-pédiatrie</small></p>
      <h6>Mme Marie-Solange DOUCOT, Infrmière, Paris</h6>
      <h6>UP Lubumbashi Docteur Robert LUKAMBA</h6> 
      <p>LUBUMBASHI Cliniques Universitaires de Lubumbashi</p> 
      <p><small>Service de Pédiatrie</small></p>
      <h6>UP Nouakchott Docteur Ekhtelbenina ZEIN NOUAKCHOTT</h6> 
      <p>Centre Hospitalier National</p> 
      <p><small>Unité d'hémato-oncologie pédiatrique</small></p>
      <h6>UP Ouagadougou Professeur Olga LOMPO GOUMBRI</h6> 
      <p>OUAGADOUGOU CHU Yalgado Ouédraogo</p> 
      <p><small>Anatomie Pathologique</small></p>
      <h6>UP Rabat Professeur Mohammed KHATTAB</h6>
      <p>RABAT Hôpital enfants de Rabat</p>
      <p><small>Service d'Hématologie et Oncologie Pédiatrique</small></p>
      <h6>UP Tunis Professeur Sihem BARSAOUI</h6>
      <p>TUNIS Hôpital des Enfants de Tunis</p> 
      <p><small>Médecine infantile-Unité d'Oncologie pédiatrique</h6>
      <h6>UP Yaoundé Docteur Angèle PONDY</small></p>
      <p>YAOUNDE Centre Mère et Enfant - Fondation Chantal Biya</p> 
      <p><small>Service d'Hémato-Oncologie</h6>
      <h6>UP Fès Docteur Sarra Benmiloud</h6>
      <p>MAROC CHU Hassan II</p>
    </div>    
  </div>
</div>