
<div class="container">
  <div class="col-12 text-center">
      <h3>Le Conseil d'Administration</h3>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <div class="thumbnail noborder cream py-1">
        <div class="caption">
          <h5>Professeur M'hamed HARIF, CASABLANCA, Directeur d'hôpital- Hôpital Cheikh Khalifa Casablanca</h5>
          <h5>Docteur Catherine PATTE, VILLEJUIF Gustave Roussy, Pédiatrie</h5>
          <h5>Professeur Guy LEVERGER, PARIS Hôpital Armand Trousseau, Chef du Pôle Oncologie-Hématologie des Hôpitaux Universitaires Est Parisien</h5>
          <h5>Professeur Pierre BEY, PARIS Curie</h5>
          <h5>Docteur Laïla HESSISSEN, RABAT Hôpital d'Enfants de Rabat, Service d'Hémato-oncologie pédiatrique</h5>
          <h5>Docteur Jean MICHON, PARIS Institut Curie, Chef du Département d'O. P.</h5>
          <h5>Docteur Carole COZE, CHU Marseille, Onco-Hématologie Pédiatrique</h5>
          <h5>Professeur Nicolas SIRVENT, CHU Montpellier, Onco-Hématologie Pédiatrique</h5>
          <h5>Docteur Rachid, BEKKALI RABAT, Fondation Lalla Salma</h5>
          <h5>Docteur Antoine CROUAN, VILLEJUIF Gustave Roussy, Directeur Ecole des Sciences du Cancer</h5>
        </div>
      </div>
      <div class="thumbnail noborder cream py-1">
        <div class="caption">
          <h5>Comité de Soutien, Mr Louis OMER-DECUGIS, GFAOP, Paris</h5>
          <h5>Comité de Soutien, Mr Pierre ROGER-MACHART, GFAOP, Paris</h5>
          <h5>Data Manager, Mme Brenda MALLON, VILLEJUIF Gustave Roussy</h5>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="thumbnail noborder cream py-1">
        <div class="caption">
          <h5>UP Abidjan Docteur Line COUITCHERE ABIDJAN CHU de Treichville Servcie de Pédiatrie</h5>
          <h5>UP Alger Professeur Anissa TRABZI ALGER Centre Pierre et Marie Curie Hématologie pédiatrique</h5>
          <h5>UP Antananarivo Docteur Mbola RAKOTOMAHEFA ANTANANARIVO Groupe Hosp. Mère et Enfant Tsaralanana Service Oncologie Pédiatrique</h5>
          <h5>UP Bamako Professeur Boubacar TOGO BAMAKO Hôpital Gabriel Touré Service de Pédiatrie</h5>
          <h5>UP Casablanca Professeur Abdellah MADANI CASABLANCA CHU Ibn Rochd Unité d'oncologie pédiatrique</h5>
          <h5>UP Dakar Professeur Claude MOREIRA DAKAR Hôpital Aristide Le Dantec Service de Pédiatrie</h5>
          <h5>UP Lomé Professeur Adama GBADOE LOME CHU Sylvanus Olympio Unité Infectiologie et Onco-pédiatrie</h5>
          <h5>Mme Marie-Solange DOUCOT, Infrmière, Paris</h5>
          <h5>UP Lubumbashi Docteur Robert LUKAMBA LUBUMBASHI Cliniques Universitaires de Lubumbashi Service de Pédiatrie</h5>
          <h5>UP Nouakchott Docteur Ekhtelbenina ZEIN NOUAKCHOTT Centre Hospitalier National Unité d'hémato-oncologie pédiatrique</h5>
          <h5>UP Ouagadougou Professeur Olga LOMPO GOUMBRI OUAGADOUGOU CHU Yalgado Ouédraogo Anatomie Pathologique</h5>
          <h5>UP Rabat Professeur Mohammed KHATTAB RABAT Hôpital enfants de Rabat Chef du Service d'Hématologie et Oncologie Pédiatrique</h5>
          <h5>UP Tunis Professeur Sihem BARSAOUI TUNIS Hôpital des Enfants de Tunis Médecine infantile-Unité d'Oncologie pédiatrique</h5>
          <h5>UP Yaoundé Docteur Angèle PONDY YAOUNDE Centre Mère et Enfant - Fondation Chantal Biya Service d'Hémato-Oncologie</h5>
          <h5>UP Fès Docteur Sarra Benmiloud - CHU Hassan II</h5>
        </div>
      </div>
    </div>

  </div>
</div>