<div class="vertical-spacer"></div>

<div class="wrapper-8 hidden-xs">
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
    <h2>MOBILISEZ-VOUS POUR LES ENFANTS ATTEINTS DE CANCER EN AFRIQUE</h2>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
</div>

<div class="wrapper-8 visible-xs">
  <div class="small-vertical-spacer"></div>
    <h2>MOBILISEZ VOUS POUR LA FORMATION DES CANCEROLOGUES DES ENFANTS EN AFRIQUE</h2>
  <div class="small-vertical-spacer"></div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3></h3>
    </div>
  </div>

  <div class="small-vertical-spacer"></div>
    
<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p><b>Ils sauvent, dans leurs pays, les enfants atteints de cancer.</b></p>
      <p><b>Mobilisez vous pour leur permettre de venir faire un stage de formation de 2 mois en France.</b></p>

      <p>500 enfants sont diagnostiqués de cancer chaque jour dans le monde,  8 sur 10 d’entre eux vivent dans les pays défavorisés.</p>

      <p>Dans les 17 pays  membres  du GFAOP (Maghreb et Afrique francophone sub-saharienne), chaque année, le nombre d’enfants pris en charge  augmente, plus de 1250 enfants ont été soignés en 2015, grâce aux efforts réalisés par les équipes pour faire savoir que le cancer des enfants se guérit aussi en Afrique.</p>

      <p><b>Pour soigner ces enfants, il est donc nécessaire de former plus de médecins et d’infirmiers, de développer et de soutenir  les structures d’accueil, c’est ce que fait le GFAOP.</b></p>

      <p>Pour répondre à ce besoin de formations, le GFAOP a créé en 2011, <b>l’Ecole Africaine d’Oncologie Pédiatrique</b> et dans ce cadre a participé à la création en 2014, du <b>DUCP (Diplôme Inter Universitaire de Cancérologie Pédiatrique)</b>, diplôme franco marocain entre les Facultés de médecine de Paris Sud et Rabat qui forme les nouveaux spécialistes du cancer des enfants.</p>

      <p>Ce diplôme dure 1 an et alterne formation théorique et stages.  Il  s’achève par un stage de 1 à 3 mois en France dans un des  prestigieux services de cancérologie pédiatrique.</p>

      <p>En 2015-2016 les étudiants de la première promotion  (2014-2015) sont venus en stage en France puis ont repris leur activité dans leurs pays comme : 
        <ul>
          <li>Bénina en Mauritanie</li>
          <li>Jules au Togo</li>
          <li>Sahadatou au Niger</li>
          <li>Jess en Centrafrique</li>
        </ul>
      <p>
      ( Photo des stagiaires)
    
        <p><b>Cette année  c’est la promotion 2 du DUCP (années 2015-2016),  16 nouveaux jeunes médecins africains qui sont diplômés et comptent sur votre générosité pour venir faire, à leur tour,  leur stage en France et s’inscrire ainsi dans le réseau des onco-pédiatres franco-africains.</b></p>
        ( photo de l’équipe)

        <p><b>Frédéric et Moustapha (Guinée Conakry), Fidèle (Togo), Chantal (Burkina Faso), Rolande (Burkina Faso), Hachimi et Chaka (Mali), Joaly (Madagascar), Aleine (Congo RD), Alda (Congo Brazzaville), Nabila, Sabrina, Amaria (Algérie), Robert (Cameroun), Charles Mesmer (Côte d’Ivoire) et Karim ( RDC).</b></p>

        <p>Cette formation des onco-pédiatres est vitale pour les enfants d’Afrique !</p>

        <p>Nous comptons sur votre aide !</p>

        <p><b>Les stages coûtent en moyenne 3500 à 5000 euros pour 2 mois</b>, ils comprennent :
         <ul>
           <li>le billet d’avion</li>
           <li>le logement</li>
           <li>des défraiements pour les repas</li>
           <li>la carte de transport</li>
         </ul>
        </p>

        <p>Le GFAOP  est une association médicale fondée en 2000 à Gustave Roussy.</p>
        <p>Depuis 16 ans, le GFAOP a formé plus de 200  médecins et infirmières en Afrique, a envoyé des médicaments  anti-cancéreux et  développé la recherche clinique  tout en accompagnant les services spécialisés en cancérologie pédiatrique dans leur développement.</p>
        <p>C’est l’organisme de référence en matière de prise en charge du cancer de l’enfant en Afrique. </p>
        <p>Le traitement du cancer d’un enfant coûte moins de 2000 euros </p>
        <p>Déjà 7500 enfants soignés…. </p>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a class="btn btncrowd " href="http://www.helloasso.com/don/associations/gfaop" role="button">Je fais un don</a>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>


<div class="container">
  <div class="row text-center">
    <h2 style="color: #f96634;">PRESENTATION</h2>
  </div>
  <div class="row col-xs-8 col-xs-offset-2">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XHAZu_Kh8gI" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>
