<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag "don.jpg", width: 100, alt:"don" %>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Mobilisez-vous pour les enfants atteints de cancer en Afrique</h3>
    </div>
  </div>

  <div class="small-vertical-spacer"></div>
    
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Mobilisez-vous pour les enfants atteints de cancer en Afrique</p>
        <p>Mobilisez-vous autour de ces hommes et ces femmes qui se battent pour que les enfants de leurs pays soient, eux aussi, soignés.</p>
        <p>Dans les 17 pays  membres  du GFAOP (Maghreb et Afrique francophone sub-saharienne), chaque année, le nombre d’enfants pris en charge augmente grâce aux efforts réalisés par les équipes pour faire savoir que le cancer des enfants se guérit aussi en Afrique. </p>
        <p>Pour les soigner, il est donc nécessaire de former plus de médecins et d’infirmiers, de développer et de soutenir  les structures d’accueil, c’est ce que fait le GFAOP.</p>
        <p>Aidez nous à soutenir les équipes médicales en Afrique qui se battent pour  guérir les enfants atteints de cancer.</p>
        <p>Traiter le cancer d'un enfant en Afrique coûte moins de 2000 euros !</p>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a class="btn btncrowd " href="http://www.helloasso.com/don/associations/gfaop" role="button">Je fais un don</a>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>
