<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <%= image_tag "logonav.png", class:"borderless round img-thumbnail", width: 100, alt:"sanofi" %>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-6 col-md-offset-3">
      <h3>Mobilisez-vous pour les soins des enfants en Afrique</h3>
    </div>
  </div>

  <div class="small-vertical-spacer"></div>
    
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p>Quand on sait que 500 enfants sont diagnostiqués de cancer chaque jour dans le monde, que 8 sur 10 d’entre eux vivent dans les pays défavorisés, on imagine combien les équipes du GFAOP sont mobilisées. Notre activité ne cesse d’augmenter car chaque année le nombre d’enfants à prendre en charge est plus important.   Les besoins en formation s’accroissent proportionnellement du fait de la mise en place de plans cancer en Afrique, de la meilleure connaissance de la maladie, de la notoriété des services qui peuvent prendre en charge les enfants localement.</p>
        <p>Mobilisez-vous autour de ces hommes et ces femmes qui se battent pour que les enfants de leurs pays soient, eux aussi, soignés.</p>
 
        <p>Traiter le cancer d'un enfant en Afrique coûte moins de 2000 euros !</p>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <a class="btn btncrowd " href="http://www.helloasso.com/don/associations/gfaop" role="button">Je fais un don</a>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>
