<div class="wrapper wrapper-5">
  <h1 class="pt-5">ENVOI DE MEDICAMENTS ET DE MATERIEL</h1>
</div>
<div class="container py-4">
  <div class="row text-center py-1">
    Plus de 1000 enfants sont traités annuellement dans les unités pilote.
    Le GFAOP fait don aux Unités subsahariennes des médicaments anticancéreux requis. Ce poste est le plus lourd sur le plan financier puisqu’il représente environ 150 000 euros par an mais il reste encore actuellement indispensable pour certains pays.
  </div>
  <div class="row text-center py-1">
    <div class="col-sm-6">
      <%= image_tag "actionmedicament1.png", class:"borderless rounded img-thumbnail", width: 340, alt:"enfant" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "actionmedicament2.png", class:"borderless rounded img-thumbnail", width: 260, alt:"enfant" %>
    </div>
  </div>
</div>