<% content_for :title, "Actions du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "Actions du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :keywords, "formation, recherche clinique, accompagnement, diplôme universitaire, Oncologie Pédiatrique" %>

<div class="verysmall-vertical-spacer"></div>

<div class="wrapper-5 hidden-xs">
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
    <h1>ENVOI DE MEDICAMENTS ET DE MATERIEL</h1>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
</div>

<div class="wrapper-5 visible-xs">
  <div class="small-vertical-spacer"></div>
    <h1>ENVOI DE MEDICAMENTS ET DE MATERIEL</h1>
  <div class="small-vertical-spacer"></div>
</div>

<div class="wrapper-51"></div>

<div class="container">
  <div class="row text-center">
    <p>Plus de 1000 enfants sont traités annuellement dans les unités pilote.
      Le GFAOP fait don aux Unités subsahariennes des médicaments anticancéreux requis. Ce poste est le plus lourd sur le plan financier puisqu’il représente environ 150 000 euros par an mais il reste encore actuellement indispensable pour certains pays.
    </p>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-sm-6">
      <%= image_tag "actionmedicament1.png", class:"borderless rounded img-thumbnail", width: 340, alt:"enfant" %>
    </div>
    <div class="col-sm-6">
      <%= image_tag "actionmedicament2.png", class:"borderless rounded img-thumbnail", width: 260, alt:"enfant" %>
    </div>
  </div>
</div>

<div class="small-vertical-spacer"></div>

<div class="wrapper-51"></div>

