<% content_for :title, "Les newsletters du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="container">
  <h3 class="text-center">Ici vous pouvez télécharger nos Newsletters</h3>
  <div class="row cream py-2">
    <div class="col-4">
      <%= image_tag "logosite.png", class:"borderless rounded img-thumbnail", width: 200, alt:"gfaop" %>
    </div>
    <div class="col-8">
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/dossier_2015.pdf">Téléchargez notre dossier 2015</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/Newsletter+special+WEB+sene%CC%81gal.pdf">Newsletter Spéciale Sénégal</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/newsletter19.pdf">Newsletter n°19 - Mai 2015</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/newsletter18.pdf">Newsletter n°18 - Novembre 2014</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/newsletter17.pdf">Newsletter n°17 - Mai 2014</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2013+n%C2%B016+dec.pdf">Newsletter n°16 - Decembre 2013</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2012decnl14.pdf">Newsletter n°14 - Décembre 2012</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2012mainl13.pdf">Newsletter n°13 - Mai 2012</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2011dec.pdf">Newsletter n°12 - Décembre 2011</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2011mai.pdf">Newsletter n°11 - Mai 2011</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2010dec.pdf">Newsletter n°10 - Décembre 2010</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2010mai.pdf">Newsletter n°9 - Mai 2010</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2009nov.pdf">Newsletter n°8 - Novembre 2009</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2009mai.pdf">Newsletter n°7 - Mai 2009</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2008nov.pdf">Newsletter n°6 - Novembre 2008</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2008mai.pdf">Newsletter n°5 - Mai 2008</a><br>
      <a target="_blank" href="http://s3-eu-west-1.amazonaws.com/gfaop/newsletter/2007nov.pdf">Newsletter n°4 - Novembre 2007</a><br>
    </div>
  </div>
</div>

