<div class="vertical-spacer"></div>


<div class="container text-center">
  <div class="row text-center">
    <h1>SOUTENEZ NOS ACTIONS</h1>
  </div>
  <div class="verysmall-vertical-spacer"></div>
  <iframe id="haWidget" src="//gfaop.donnerenligne.fr" style="width:800px;height:1200px;border:none;" onload="scroll(0,0);"></iframe>
  <div class="vertical-spacer"></div>
</div>
