<% content_for :title, "Les projets du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<!-- TODO(pcarton)
<div class="wrapper wrapper-7">
  <h1 class="py-5">NOS PROJETS</h1>
</div> -->
<div class="container">
  <h1 class="text-center py-2">NOS PROJETS</h1>
  <div class="row text-justify">
    <div class="mx-auto py-3 col-12 col-md-8">
    Dans les pays développés les cancérologues pédiatres ont construit des communautés collaboratives qui ont permis un progrès formidable dans la prise en charge des cancers chez l’enfant. Les enfants dans ces pays ont non seulement pu bénéficier de chances significatives de guérison atteignant 75 à 80% mais l’approche a dépassé l’exigence de guérison pour embrasser les problématiques de qualité de vie pendant et après le traitement. 
    En Afrique, malgré le succès des équipes sur le terrain, <strong>seulement</strong> 1 000 enfants, soit moins de 15% des enfants ayant un cancer en Afrique francophone sub-saharienne, ont atteint en 2015 une unité d’oncologie pédiatrique, souvent trop tardivement pour y être efficacement traités (notamment en raison d’un premier recours à d’autres acteurs comme les tradi-praticiens qui font perdre un temps précieux). Le nombre de nouveaux cas de cancers chez l’enfant de moins de 15 ans est estimé aujourd’hui à environ <strong>10 000 par an</strong> (et au moins <strong>6 000 décès</strong> par cancer), pour les pays sub-sahariens francophones.*
    </div>
    <div class="mx-auto py-3 col-12 col-md-8">
      <small>* pour les 18 pays représentant 280 millions d’habitants (sur la base d’une incidence de 85 nouveaux cas/an/million d’enfants de moins de 15 ans, Cancer in Children, in «The Cancer Atlas »2ème édition , The American Cancer Society, 2014)
      </small>
    </div>
  </div>  
  <div id="accordion" class="py-2" role="tablist" aria-multiselectable="true">
    <div class="card">
      <div class="card-header cream" role="tab" id="headingOne">
        <h5 class="mb-0">
          <a class="text-orange" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            1) Soigner plus d’enfants atteints de cancer et plus précocement
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
        <div class="card-block">
          <h5>PROJET : accueillir 30% des enfants atteints de cancer d’ici 2020, alors qu’aujourd’hui seuls 10 à 15 % arrivent à l’hôpital</h5>
          Les raisons de ce relativement faible pourcentage d’enfants accueillis dans les unités sont diverses : 
          <ul> 
            <li>l’absence d’unité d’oncologie pédiatrique ou leur création très récente dans certains pays</li>
            <li>un nombre insuffisant d’unités dans des pays très peuplés et/ou très vastes avec un accès difficile aux unités existantes du fait de l’éloignement d’une grande partie de la population (dans les pays dotés, il n’y a aujourd’hui qu’une seule unité, le plus souvent dans la capitale)</li>
            <li>une insuffisance de personnels formés</li>
            <li>une méconnaissance de l’efficacité des traitements des cancers de l’enfant de la part des autorités, de la population et même des personnels de santé en général</li>
            <li>un manque de moyens des plus démunis pour accéder aux examens, diagnostiques et soins, le plus souvent à la charge des parents, responsable d’un taux élevé de non-traitements, de retards et d’abandons de traitement.</li>
          </ul> 
          Le projet de développement 2015-2025 du GFAOP qui concerne les pays d’Afrique francophone et plus particulièrement les pays sub-sahariens où les structures compétentes restent rares, vise à améliorer la prise en charge des enfants malades en répondant aux besoins évoqués.</li>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header cream" role="tab" id="headingTwo">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            2) Développer la Formation du personnel soignant : médecins et infirmières
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="card-block">
          <h5>PROJET : en 2017 au moins 40 médecins onco-pédiatres et autres spécialistes indispensables à la prise en charge du cancer (chirurgiens, anatomopathologistes, radiothérapeutes…)</h5>
          <ul>
            <li>Formation au DU au Maroc</li>
            <li>Stages en France des étudiants du DUCP</li>
            <li>Formation « Douleur soins palliatifs »</li>
            <li>Formations collégiales</li>
            <li>Stages et formations en France pour certaines spécialités</li>
          </ul>
          <h5>PROJET : Au moins 50 infirmiers en 2017 et 2018</h5>
          <ul>
            <li>Formations généralistes</li>
            <li>Formations douleur et soins palliatifs</li>
            <li>Formations in situ lors de la venue d’experts</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header cream" role="tab" id="headingThree">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            3) Améliorer le diagnostic précoce
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="card-block">
          Le diagnostic précoce des cancers de l’enfant est une nécessité absolue pour au moins 3 raisons majeures : 
          <ul>
            <li>il améliore les chances de guérison : un enfant avec un cancer découvert à un stade avancé, en particulier lorsqu’il y a des métastases à distance, a très peu de chances de guérir alors que les chances de guérison à un stade précoce peuvent dépasser 90% pour certaines tumeurs.</li>
            <li>il réduit la durée et le coût des traitements, diminuant ainsi les refus et abandons de traitements.</li>
            <li>il réduit l’agressivité des traitements et donc les risques de complications et de séquelles tardives. Du fait de la rareté de chaque type de cancers rencontrés chez l’enfant, le diagnostic précoce nécessite une action volontariste qui doit être structurée et régulièrement répétée, après s’être assuré que les moyens existants permettent une prise en charge rapide dès la première consultation, avec l’accord et le soutien des autorités de santé du pays, en élaborant et en mettant en œuvre à partir de chaque unité spécifique d’oncologie pédiatrique:
              d’abord, un plan d’information/formation aux signes révélateurs des cancers chez l’enfant et à la conduite à tenir devant une suspicion de cancer chez un enfant pour les personnels des centres de santé, des hôpitaux généraux et des cliniques ensuite, et seulement ensuite : 
              <ul>
                <li>un programme d’information pour la population (les parents, surtout les mamans et les tradi-praticiens) sur les signes révélateurs des cancers de l’enfant et sur la conduite à tenir (avec l’utilisation des différents médias et la publication d’un manuel de diagnostic précoce (à l’instar de celui établi pour le Maroc)</li>
                <li>la présentation régulière des résultats obtenus par l’unité dans les différentes réunions et publications médicales locales, nationales et internationales et aussi dans la grande presse. Ces actions doivent être régulièrement répétées par tous les moyens à disposition.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>  
    <div class="card">
      <div class="card-header cream" role="tab" id="headingFour">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            4) Développer les jumelages entre hôpitaux français et africains
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
        <div class="card-block">
          Dans le but de tisser des liens privilégiés au sein du réseau franco-africain d’oncologie pédiatrique des jumelages sont en cours entre unités africaines d’oncologie pédiatrique et unités françaises et maghrébines sous l’égide du GFAOP. 
          Parmi les jumelages opérationnels ou bien engagés, notons l’unité de Marrakech avec le service d’oncologie pédiatrique du CHU de Montpellier, l’unité de Dakar avec le service d’oncologie pédiatrique du CHU de Toulouse, l’unité de Bamako avec le département de pédiatrie de l’Institut Curie à Paris. D’autres sont en préparation. 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header cream" role="tab" id="headingFive">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            5) Faciliter les communications et les échanges entre les équipes du GFAOP : la E-santé
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
        <div class="card-block">
          <p>Des communications efficaces sont la clé d’un réseau. Les communications régulières représentent un véritable défi puisque sont concernés près d’une vingtaine de pays. 
            Pour cela, le GFAOP mettra en place des outils accessibles et à disposition de tous par télémédecine :
          </p>
          <ul>
            <li>pour faciliter les télécommunications au sein des comités de tumeurs entre les unités participantes (pour la transmissions des données, les réunions et l’analyse des données)</li>
            <li>pour faciliter les échanges (notamment de données médicales pour des cas difficiles) entre les unités et services jumelés</li>
            <li>pour permettre la réalisation de certaines réunions des membres du GFAOP, en plus des réunions physiques.</li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header cream" role="tab" id="headingSix">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            6) Ouvrir des maisons des parents
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
        <div class="card-block">
          <h5>PROJET: ouvrir 3 à 4 maisons en 2017-2018, et 4 autres d’ici 2020. Soit 8 maisons à ouvrir dans les cinq ans, chaque fois soutenues et gérées par une association locale.</h5>
          <p>A l’hôpital, les conditions de vie sont difficiles, les enfants sont souvent plusieurs par chambre, accompagné d'un parent qui vit sur place, dort à même le sol ou dehors dans le jardin de l'hôpital. C'est la famille qui doit assurer les repas du patient. Certains enfants restent à l'hôpital entre 2 cures de chimiothérapie (le traitement dure entre 3 mois et 6 mois) car retourner au village est trop loin, trop cher (les services de cancérologie sont installés dans les capitales et nombre d'enfants viennent de régions agricoles isolées).
            Afin d'éviter que le service à l'hôpital ne soit surchargé d'enfants, que certains enfants ne puissent pas poursuivre leur traitement faute d'un logement sur place et de permettre que les lits soient mieux utilisés pour les enfants en traitement, le GFAOP veut mettre en place des Maisons des Parents, à l'image des Maisons d'accueil en France.
            Ces « Maison  des parents », sont des lieux d’accueil indispensables à proximité de chaque unité, compléments non médicalisés du Service d’oncologie pédiatrique, lieux d’hébergement et de convivialité où les enfants peuvent vivre et se reconstruire entre les cures de chimiothérapie. 
          </p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header cream" role="tab" id="headingSeven">
        <h5 class="mb-0">
          <a class="text-orange collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            7) Mettre en place un fond de soutien aux familles démunies
          </a>
          <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
        </h5>
      </div>
      <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven">
        <div class="card-block">
          <p>
            L’expérience du GFAOP montre que malheureusement, après avoir été référées à l’Unité d’oncologie, beaucoup de familles interrompent la prise en charge de leurs enfants à différents stades :
          </p>            
          <ul>
            <li>Avant même que le diagnostic soit posé (sur une échographie abdominale, une cytologie ou une biopsie)</li>
            <li>Au moment du démarrage du traitement</li>
            <li>Pendant le traitement, et en particulier après la chirurgie de la tumeur.</li>
          </ul>
          <p>
            Le coût des examens ou des soins à la charge des familles est probablement une des raisons majeures de ces abandons de traitement. 
            Ce fond de soutien vise à diminuer les abandons de diagnostic et de traitement en prenant en charge les coûts du bilan initial et du traitement des enfants les plus démunis après un diagnostic socio-économique de la famille.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


