<% content_for :title, "Les projets du groupe franco-africain d'oncologie pédiatrique" %>
<% content_for :description, "" %>
<% content_for :keywords, "" %>

<div class="wrapper wrapper-7">
  <h1>NOS PROJETS</h1>
</div>
<div class="container">
  <div class="row">
    <p class="mx-auto text-justify py-3 col-md-8">Dans les pays développés les cancérologues pédiatres ont construit des communautés collaboratives qui ont permis un progrès formidable dans la prise en charge des cancers chez l’enfant. Les enfants dans ces pays ont non seulement pu bénéficier de chances significatives de guérison atteignant 75 à 80% mais
      l’approche a dépassé l’exigence de guérison pour embrasser les problématiques de  qualité de vie pendant et après le traitement.
      Parallèlement, les enfants des pays en voie de développement qui constituent  75 à 80 % des enfants de la planète, en particulier en Afrique, continuent de mourir massivement par manque de moyens, manque d’offre de soins qualifiés et dysfonctionnements du système de santé.
    </p>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 py-2 cream rounded m-2 ml-md-auto">
      <h3>1) Former 60 Personnes en 2017</h3>
      <p>Chaque année, un nouveau défi : augmenter le nombre de spécialistes du cancer en Afrique, onco-pédiatres, chirurgiens, anatomopathologistes, ophtalmologistes et infirmiers</p>
      <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
    </div>
    <div class="col-12 col-md-4 py-2 cream rounded m-2 mr-md-auto">
      <h3>2) Mise en place du Programme "Douleur et Soins palliatifs"</h3>
      <p>Grâce aux progrès thérapeutiques au cours des ces dernières années, les enfants guérissent du cancer; En parallèle, les soins de support se sont développés pour améliorer la prise en charge des symptômes, en particulier la douleur, à toutes les phases du traitement. Il est important d'apporter ces pratiques en Afrique où la douleur reste peu prise en charge.</p>
      <p>La Fondation Sanofi Espoir à travers le programme "My Child Matter" soutient ce projet sur 3 ans.</p>
      <a href="https://drive.google.com/file/d/0B32qGhny064BQjhpNVU1cDNNWVk/view?usp=sharing">Télécharger le document de présentation</a>
      <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 py-2 cream rounded m-2 ml-md-auto">
      <h3>3) Aider à augmenter les capacités d'accueil dans les hopitaux</h3>
      <p>Par le renforcement des unités existantes : Bamako, Lomé, Abidjan, (2ème site à Bingerville)...</p>
      <p>Par la création de nouvelles unités dans les pays qui le souhaitent et qui en sont aujourd'hui dépourvus : Congo, Tchad, Guinée, Niger, Centrafrique, Gabon, Bénin, Burundi...</p>
      <p>Par la création de nouvelles unités dans des pays déjà pourvus mais avec des difficultés de communication : RD Congo (Kinshasa, Kisangani), Cameroun (Douala)</p>
      <p>Par l'utilisation de compétences pédiatriques relais, fonctionnant en réseau avec les unités de référence existantes (Sénégal, Côte d'Ivoire, Mali...), pour faciliter la prise en charge de proximité.</p>
      <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
    </div>
    <div class="col-12 col-md-4 py-2 cream rounded m-2 mr-md-auto">
      <h3>4) Mise en place de la télémedecine dans les 19 Hopitaux</h3>
      <p>La télémedecine est une forme de pratique médicale à distance utilisant les technologies de l'information et de la communication</p>
      <p>Elle met en rapport, entre eux ou avec un patient, un ou plusieurs professionnels de la santé, parmi lesquels figure nécessairement un professionnel médical et, le cas écheant, d'autre professionnels apportant leurs soins au patient.</p>
      <p>Elle permet d'établir un diagnostic, d'assurer, pour un patient à risque, un suivi à visée préventive ou un suivi post-thérapeutique, de requerir un avis spécialisé, de préparer une décision thérapeutique, de préscrire des produits...</p>
      <a class="btn btncrowd float-right p-2" href="http://www.helloasso.com/don/associations/gfaop" role="button">AIDER CE PROJET</a>
    </div>
  </div>
</div>


