<div class="wrapper-5">
  <div class="vertical-spacer"></div>
    <h1>LA RECHERCHE CLINIQUE</h1>
  <div class="vertical-spacer"></div>
</div>

<div class="container">
  <div class="row mx-auto text-justify py-3">
    Le GFAOP a démontré que même en Afrique, on pouvait faire de la recherche clinique de manière prospective et multicentrique. Ce sont les 5 comités de tumeurs, un pour chaque type de cancer pris en charge qui gèrent les études cliniques et les adaptations des protocoles de soin.
    Des attachés de recherche clinique ( ARC) collectent les données qui sont analysées et centralisées à Gustave Roussy.
  </div>
  <div class="row mx-auto text-justify">
    Il y a 5 types de cancer qui sont traités sous protocole GFAOP.
      Ils représentent environ 70 % des cancers locaux et sont de bon pronostic quand ils sont traités suffisamment tôt :
  </div>
  <div class="row mx-auto text-justify">
    <ul>
      <li>Le néphroblastomes (cancer du rein)</li>
      <li>Le rétinoblastome (cancer de l’œil)</li>
      <li>Les leucémies aigües lymphoblastiques</li>
      <li>La maladie de Hodgkin</li>
      <li>Le lymphome de Burkitt</li>
    </ul>
  </div>
</div>

<hr class="separator">

<div class="container">
  <h3 class="text-center py-3">Les Comités De Tumeurs</h3>
  <div class="row text-center">
    <div class="col-md-3 cream round m-2 ml-md-auto">
      <h4 class="py-1">Comité Burkitt</h5>
      <h6>Coordinateur : Maria El Kababri (Rabat, Maroc)</h6>
      <h6>Data manager : Marie-Anne Raquin (IGR, France)</h6>
      <h6>Secrétaire : Angèle Pondy (Yaoundé, Cameroun)</h6>
      <h6>Expert: Catherine Patte (IGR, France)</h6>
    </div>
    <div class="col-md-3 cream round m-2">
      <h4 class="py-1">Comité Néphroblastome</h5>
      <h6>Coordinateur : Claude Moreira (Dakar, Sénégal)</h6>
      <h6>Data manager : Brenda Mallon (IGR, France)</h6>
      <h6>Secrétaire : Jean Jacques Atteby (Treichville, Côte d’Ivoire)</h6>
      <h6>Expert: Catherine Patte (IGR, France)</h6>
    </div>
    <div class="col-md-3 cream round m-2 mr-md-auto">
      <h4 class="py-1">Comité Rétinoblastome</h5>
      <h6>Coordinateur : Fousseyni Traoré (Bamako, Mali)</h6>
      <h6>Expert : Pierre Bey (Curie, France)</h6>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-3 cream round m-2 ml-md-auto">
      <h4 class="py-1">Comité Lymphome Hodgkinien</h5>
      <h6>Coordinateur : Christine Edan (Rennes, France)</h6>
      <h6>Data manager : Souad Nafa (IGR, France)</h6>
      <h6>Expert : Odile Oberlin</h6>
    </div>
    <div class="col-md-3 cream round m-2 mr-md-auto">
      <h4 class="py-1">Comité Leucémie Aigue Lymphoblastique</h5>
      <h6>Coordinateur : Marie Dominique Tabone</h6>
      <h6>Data manager : Unité de Recherche Clinique (Trousseau, France)</h6>
      <h6>Expert : Guy Leverger (hôpital Armand Trousseau)</h6>
    </div>
  </div>
</div>

<hr class="separator">

<div class="container">
  <h4 class="text-center py-2"> Les études cliniques menées depuis la création du GFAOP montrent des résultats encourageants.</h4>
  <div class="row text-justify">
    <div class="col-sm-6">
      <p> Ainsi, pour les Burkitt et les néphroblastomes, deux études successives réalisées entre 2000 et 2009 indiquent les taux de survie suivants :</p>
      <p>-  60% pour les Lymphomes de Burkitt (étude dirigée par le Professeur Catherine Patte de l’IGR et le Docteur Maria El Kababri de Rabat)</p>
      <p>-  70% pour les néphroblastomes ou tumeurs du rein (étude dirigée par le Professeur Catherine Patte de l’IGR et le Professeur Claude Moreira de Dakar).</p>
      <p>-  Pour la maladie de Hodgkin, la survie globale est de 82% dans notre étude 2006-2012 sur 89 cas.</p>
    </div>
    <div class="col-sm-6">
      <p>-  Pour les leucémies lymphoblastiques aigües (LAL), la dernière étude menée par le GFAOP,  avec l’expertise du professeur Guy Leverger de l’hôpital Armand Trousseau à Paris , montre en Afrique sub-saharienne un taux de survie sans maladie de 60% à la fin du traitement dont la durée totale est de deux ans.</p>
      <p>-  Pour les rétinoblastomes, les résultats à Bamako, seule UP pour laquelle nous ayons un peu de recul avec 112 cas observés depuis le lancement du programme en octobre 2011, comportent une augmentation des formes intraoculaires à 70% actuellement, avec plus de 90% de guérison. Ils comportent aussi un début des traitements conservateurs dans les formes bilatérales. Tous les enfants énucléés ont eu une prothèse.</p>
    </div>
  </div>
</div>