<script>
  <% #!/usr/bin/env ruby %>

  <% require 'nokogiri' %>
  <% require 'open-uri' %>

  <% doc = Nokogiri::XML(open("http://gfaopcorinnecd.tumblr.com/rss")) %>

  <% url = doc.xpath('//item/link').first.text %> 
  <%= url %>
  <%= url.tr('http://gfaopcorinnecd.tumblr.com/post/', '') %>
  
</script>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1></h1>
    </div>
  </div>
</div>
  
