<script>
  <% #!/usr/bin/env ruby %>

  <% require 'nokogiri' %>
  <% require 'open-uri' %>

  <% doc = Nokogiri::XML(open("http://gfaopcorinnecd.tumblr.com/rss")) %>
  <% puts doc.text %>
    
  <% array = ['asd', 'asd', 'asd'] %>
  <% @print = array.map { |i| "Random text #{i}" } %>
  <% @print.each do |val| %>
  <%= val %>
  <% end %>
  
</script>

<div class="vertical-spacer"></div>

<div class="container">
  <div class="row text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1> <% puts doc.xpath('item/link')[0] %> </h1>
    </div>
  </div>
</div>
  
